<a href="https://colab.research.google.com/github/zwelshman/spark-colab-starter/blob/main/Spark_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

External Starter Spark Notebook for running or testing code

- Run the cell below to install spark and instantiate a spark session.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better

spark

In [ ]:
from pyspark.sql import functions as F

df = (
    spark.createDataFrame(
        [
            ("id_001", "2020-01-01", 52),
            ("id_002", "2021-06-23", 63),
            ("id_003", "2020-05-01", 16)
        ],
        ['person_id', 'date', 'age']
    )
    .withColumn('date', F.to_date(F.col('date')))
)

display(df)

+---------+----------+---+
|person_id|      date|age|
+---------+----------+---+
|   id_001|2020-01-01| 52|
|   id_002|2021-06-23| 63|
|   id_003|2020-05-01| 16|
+---------+----------+---+

In [ ]:
df